.page.work

  .sidebar.sidebar_desktop
    .listing
      .subtitle .SERVICES.
      ul
        each service in work.services
          li=service

  .title .#{work.title}.
  .copy
    each p in work.description
      p !{p}

  .sidebar.sidebar_mobile
    .listing
      .subtitle .SERVICES.
      ul
        each service in work.services
          li=service

  .tiles
    each tile in work.tiles
      .tile(
        class= tile.left ? 'tile_left' : ''
        class= tile.clear ? 'tile_clear' : ''
        class= tile.stack ? 'tile_stack' : ''
        class= tile.full ? 'tile_full' : ''
        class= tile.right ? 'tile_right' : ''
        style='width: '+tile.width+'px; height: '+tile.height+'px; background-image: url(/images/tiles/work/' + work.folder + '/thumbs/' + tile.image + ');'
      )
        .image.off(style='background-image: url(/images/tiles/work/' + work.folder + '/' + tile.image + ');')
    .clear

  .nav
    if work.next
      a.link.next(href='/work/' + work.next.folder) 
        .navcopy next&nbsp;
        .navname : .#{work.next.name}. 
        .navarrow &gt;
    if work.prev
      a.link.prev(href='/work/' + work.prev.folder)
        .navarrow &lt;&nbsp;
        .navcopy previous
        .navname : .#{work.prev.name}.
    .clear
