.page.work

  .sidebar
    .subtitle .SERVICES.
    ul.listing
      each service in work.services
        li=service

  .title .#{work.title}.
  each p in work.description
    p=p

  .tiles
    each tile in work.tiles
      .tile(
        class= tile.left ? 'tile_left' : ''
        class= tile.clear ? 'tile_clear' : ''
        class= tile.stack ? 'tile_stack' : ''
        class= tile.full ? 'tile_full' : ''
        class= tile.right ? 'tile_right' : ''
        style='width: '+tile.width+'px; height: '+tile.height+'px; background-image: url(/images/tiles/work/' + work.folder + '/thumbs/' + tile.image + ');'
      )
        .image.off(style='background-image: url(/images/tiles/work/' + work.folder + '/' + tile.image + ');')
    .clear
